<% include('../layout') %>
<h2>Student Details</h2>
<ul>
  <li>Name: <%= student.name %></li>
  <li>Roll: <%= student.rollNo %></li>
  <li>Age: <%= student.age || 'N/A' %></li>
  <li>Class: <%= student.class || 'N/A' %></li>
  <li>Section: <%= student.section || 'N/A' %></li>
</ul>
<a href="/students">Back to list</a>
