<%- include('../partials/header') %>

<h2>Peon Details</h2>

<ul>
  <li><strong>Name:</strong> <%= peon.name %></li>
  <li><strong>Employee ID:</strong> <%= peon.employeeId %></li>
  <li><strong>Duty:</strong> <%= peon.duty || 'N/A' %></li>
  <li><strong>Shift:</strong> <%= peon.shift || 'N/A' %></li>
</ul>

<a href="/peons">Back</a>

<%- include('../partials/footer') %>
